<div class="container">
  <h1>Welcome to Roys Recipes!</h1>
<% recipe = Recipe.new(title: "Egg Pancakes",
  ingredients: "12 eggs", instructions: "Put them in a pan") %>

 <%= erb :_recipe, locals: { recipe: recipe } %>
</div>
