<form>
Title: <input type="text" name="title"><br>
Ingredient List: <input type="text" name="ingredients">
<br>
Instructions: <input type="text" name="instructions">
<input type="submit" value="Submit">
</form>
